*{
  margin: 0;
  padding: 0;
}
body{
  background: black; //#0f0f0f;
  opasity: 0.39;
  font-size: 12px;
}
#burg a{
  display: block;
  width: 70px;
}
#burg{
  width: 100%;
  background: #000;
  padding: 7.5px 0 7.5px 1%;
}
span{
  display: flex;
  margin: 3px;
  width: 25px;
  height: 1px;
  background: #775f6b; #684e5b; //#FF6699; //#c3c3c3;
  z-index: 999;
  opacity: 0.5;
}
.mobile-tab{
  display: flex;
  width: 100%;
  background: #000;
  flex-direction: column;
}
#desktop{
  display: none;
}
.mobile-tab a{
  font-size: 1em;
  color: #684e5b; //#FF6699;//#c3c3c3;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 1px;
}
.mobile-tab li{
  list-style-type: none;
  margin: 2% 3%;
}
.mobile-tab ul{
  padding: 5% 0;
}

@media screen and (min-width: 768px){
  .mobile-tab,#burg,#mobile{
    display: none;
  }
  .bar{
    background: #000;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .mobile-bar{
    display: none;
  }
  #desktop{
    display: flex;
  }
  #burg_1{
    display: none;
  }
  .burg_1{
    display: none;
  }
  a{
    text-decoration: none;
    color: #684e5b;//#FF6699;//#c3c3c3;
    margin: 0;
  }
  ul{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li{
    color: white;
    cursor: pointer;
    font-weight: lighter;
    background: #000; #684e5b; //#FF6699; //#232323;
    padding: 8px 8px;
    text-align: center;
    width: 50px;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
  }
  li:hover{
    background: #fff;
    opacity: .0;
    box-shadow: inset 1px 1px 5px grey;
  }
  li:hover a{
    color: #2b2b2b;
  }
}
#mode{
  background: #000;
}
#code{
  background: #000;
/*  color: white; */
}
pre{
  color: white;
  background: #000;
}
img:hover, span:hover{
  opacity: 0.5;
}
text{
  top: 0;
}
audio{
  height: 10px;
  with: 220px;
  color: black;
  background: black;
  background-color: black;
  z-index: 12;
}
input,h6{
  color: #684e5b;
  background-color: black;
}
button{
  color: #0f0f0f;
  height: 2px;
  background-color: black;
}
p{
  color: #684e5b;
  font-size: 11px;
}

/*menu2*/
#burg_1{
  background: black;
  padding: 9px 0 5px 90%;
  color: #684e5b; //#FF6699;
  opacity: 0.5;
}
.bar_1{
  color: #684e5b; //#FF6699;
  margin: 3px;
  width: 25px;
  height: 7px;
  position: absolute;
  top: 35px;
}

.menu{
  position: absolute;
  right: 0;
}
  #burg_2{
  background :rgba(0, 0, 0, 1);
  padding: 2px 0 2px 90%;

}
.bar_2{
  margin: 0;
  width: 25px;
  height: 2px;
  background: #d09cb6;
  padding: 0;
}
.mobile2 {
  position: fixed;
  top: 0;
  background :rgba(0, 0, 0, 0.7);
  width: 289px;
  height: 519px;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 9;
}
.mobile_items2 a{
  font-size: 1em;
  color: #775f6b; #684e5b; //#FF6699;
  text-decoration: none;
  letter-spacing: 1px;
}
.mobile_items2 li{
  list-style-type: none;
  margin-top: 7%;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}
.mobile_items2 ul{
  margin-top: 20px;
  padding: 0 0;
}
.mobile_items2 img{
  background: #684e5b; #FF6699;
  margin: 0 3px;
}

/* mouse_scroll
body {
	background: #333;
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;

  animation-delay: .2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;

  animation-delay: .3s;
  animation-direction: alternate;


  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
*/
/* div arrow */
.arrow, .arrow:before {
  position: absolute;
  left: 50%;
}
.arrow{
  width: 20px;
  height: 20px;
  top: 99%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 1px #684e5b solid;
  border-bottom: 1px #684e5b solid;
}

.arrow:before{
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  margin: -5px 0 0 -5px;
  border-left: none;
  border-top: none;
  border-right: 1px #684e5b solid;
  border-bottom: 1px #684e5b solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow{
  0%
    {opacity: 1;}
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);}
}
